<div class="row">
<h1>Listings </h1><span style="padding-right: 10px"></span>
<%= form_with url:listings_search_path, class:'form-inline my-2 my-lg-0' , :method => 'post', id: "city-search"  do |form| %>
    <%= form.text_field :search, class: "form-control mr-sm-2", list: 'list' %>
    <%= form.submit "search", class:"btn btn-outline-success my-2 my-sm-0" %>
    <datalist id="list"></datalist>
  <% end %>
</div><br>
  
<div class="card-deck" id="card-deck" style="display:flex; justify-content:space-between;">
  <% @listings.each do |listing| %>
  <div class="d-inline-block">
    <div class="card mb-4" style="width: 20rem; height: 25rem; text-align:left">
      <img class="card-img-top" src=<%= listing.image_url(:thumb).to_s %> alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= listing.name %> 
          <% if listing.verified == true %>
            <span class="badge badge-pill badge-light">✓</span>
          <% end %>
        </h5>
        <h6 class="card-title">$<%= listing.price_per_night %></h6>
        <h6 class="card-title">Host: <%= listing.user.fullname %></h6>
        <a href=<%=listing_path(listing)%> class="btn btn-primary">View</a>
        <% if current_user.moderator? || current_user.superadmin? %>
        <%= link_to 'Destroy', listing_path(listing), class:"btn btn-danger",
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= paginate @listings %>


<script>
$(document).on('turbolinks:load', function(){

$("#city-search").on("keyup", function(){
  autocomplete()
});

function autocomplete(){
  $.ajax({
    url: '/search',
    type: 'POST',
    data: $("#city-search").serialize(), //takes the form data and authenticity toke and converts it into a standard URL
    dataType: 'json', //specify what type of data you're expecting back from the servers
    error: function() {
        console.log("Something went wrong");
    },
    success: function(data) {
      document.getElementById('list').innerHTML = '';
      $("#list").empty();

      var uniquedata = [];
      $.each(data, function(i, el){
          if($.inArray(el, uniquedata) === -1) uniquedata.push(el);
      });

      uniquedata.forEach(function(element) {
        var option = document.createElement("option");
        option.value = element;
        //append option to list
        $("#list").append(option);
      });
    }
  });
}
})
</script>