<h1>Create listing:</h1>

<%= form_with scope: :listing, url: listings_path, :html => {:multipart => true}, local: true do |form| %>
  <p>
    <%= form.label :"Name your listing:" %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :"Apartment, Beach Villa etc." %><br>
    <%= form.text_field :roomtype %>
  </p>

  <p>
  <%= form.label :'City' %><br>
  <%= form.text_field :city %>
  </p>

   <p>
    <%= form.label :"Number of guests" %><br>
    <%= form.text_field :num_guests %>
  </p>

   <p>
    <%= form.label :"Number of bedrooms" %><br>
    <%= form.text_field :num_beds %>
  </p>

   <p>
    <%= form.label :"Number of bathrooms" %><br>
    <%= form.text_field :num_baths %>
  </p>

   <p>
    <%= form.label :"Price/Night" %><br>
    <%= form.text_field :price_per_night %>
  </p>
  <p>
  <%= form.label :"Add a cover image to your listing" %><br>
  <%= form.file_field :image %>
  </p>
   <p>
    <%= form.label :"Add to your listings gallery" %><br>
    <%= form.file_field :pictures, multiple: true %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
