<p>
  <strong>Listing Name:</strong>
  <%= @listing.name %>
</p>
<p>
  <strong>Listing Type:</strong>
  <%= @listing.roomtype %>
</p>
<p>
  <strong>Number of Guests:</strong>
  <%= @listing.num_guests.to_s %>
</p>
<p>
  <strong>Number of Beds:</strong>
  <%= @listing.num_beds.to_s %>
</p>
<p>
  <strong>Number of Baths:</strong>
  <%= @listing.num_baths.to_s %>
</p>
<p>
  <strong>Price/Night:</strong>
  <%= @listing.price_per_night.to_s %>
</p>

<% if current_user.superadmin? || current_user.moderator? %>
<%=link_to "Verify Listing", verify_listing_path(@listing.id) %>
<% end %>