<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.slim.min.js" %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'%>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body style="background-color:#F8F8F8">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">AIRBNB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if !signed_in? -%>
      <li class="nav-item">
        <a class="nav-link" href=<%=sign_in_path%>>Sign In</a>
      </li>
      <% end -%>
      <% if signed_in? -%>
      <li class="nav-item">
        <a class="nav-link" href=<%=user_path(current_user.id)%>>Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=<%=listings_path%>>Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-method= 'delete' href=<%=sign_out_path%>>Sign Out</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          You
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=<%= new_listing_path %>>Add Listing</a>
          <a class="dropdown-item" href=<%= my_list_path %>>My Listings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <% end -%>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          No. Rooms
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=<%= listings_one_room_path %>>1</a>
          <a class="dropdown-item" href=<%= listings_two_rooms_path %>>2</a>
          <a class="dropdown-item" href=<%= listings_three_rooms_path %>>3</a>
          <a class="dropdown-item" href=<%= listings_four_rooms_path %>>4</a>
          <a class="dropdown-item" href=<%= listings_five_rooms_path %>>5+</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    <%= form_with url:listings_search_path, class:'form-inline my-2 my-lg-0' , local: true do |form| %>
    <%= form.text_field :search, class: "form-control mr-sm-2" %>
    <%= form.submit "search", class:"btn btn-outline-success my-2 my-sm-0" %>
    <% end %>    
    </ul>
  </div>
</nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <div class="container mt-5 mb-5">
  <%= yield %>
  </div>
</body>
</html>

